node_modules

# Testing
test-results
/test/js
/test/ts
/test/.tmp
/test/.cli-tmp
/test/.bench-tmp

# Output
.output
/build
/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# LLMS
.claude